# ==========================================
# EJEMPLO DE CONFIGURACIÓN - PROXY
# Copia esto a un archivo llamado .env
# ==========================================

# Puerto donde correrá este Proxy (Debe ser distinto al Backend)
SERVER_PORT=8081

# --- CONEXIÓN CON LA CÁTEDRA ---
# IPs de la Facultad (Usar estas si estás conectado allá)
# Si estás en casa con Docker, usa: localhost
REDIS_HOST=192.168.194.250
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=192.168.194.250:9092

# ¡IMPORTANTE! Tu ID único. No uses el de tu compañero.
KAFKA_GROUP_ID=elcomandante18

# --- CONEXIÓN CON TU BACKEND ---
# A dónde avisar cuando llega un mensaje de Kafka
BACKEND_URL=http://localhost:8080
